<section id="skills" class="py-24">
    <div class="max-w-7xl mx-auto px-6">
        <h2 class="text-3xl font-bold mb-16 tracking-tighter border-l-4 border-purple-500 pl-6 uppercase scramble-on-hover">
            Mastered Systems
        </h2>

        <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            <SkillCard IconClass="fab fa-unity" 
                       Title="Unity Engine" 
                       Subtitle="C# / DOTS / HLSL" 
                       AccentColor="#ffffff" />

            <SkillCard IconClass="fas fa-cloud" 
                       Title="Terraform" 
                       Subtitle="Infrastructure as Code" 
                       AccentColor="#3b82f6" />

            <SkillCard IconClass="fas fa-bolt" 
                       Title="Unreal 5" 
                       Subtitle="C++ / Nanite / Lumen" 
                       AccentColor="#f59e0b" />

            <SkillCard IconClass="fas fa-robot" 
                       Title="Automic CA" 
                       Subtitle="Workload Automation" 
                       AccentColor="#22c55e" />

            <SkillCard IconClass="fab fa-fire"
                       Title="blazor" 
                       Subtitle="C# / WebAssembly / SSR"
                       AccentColor="#a855f7" />
            <SkillCard IconClass="fab fa-git-alt"
                       Title="Git"
                       Subtitle="Version Control"
                       AccentColor="#f97316" />

            <SkillCard IconClass="fab fa-microsoft"
                       Title="Azure"
                       Subtitle="Cloud Platform / DevOps"
                       AccentColor="#0ea5e9" />
             <SkillCard IconClass="fas fa-terminal" 
                       Title="PowerShell" 
                       Subtitle="Scripting / Automation" 
                       AccentColor="#2563eb" />

        </div>
    </div>
</section>
